* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #a9a9a9;
  max-width: 1100px;
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  text-shadow: -6px -2px 12px rgba(0, 0, 0, 0.93);
}
h1,
h2 {
  font-family: "Cinzel Decorative", cursive;
}
.headerBird {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  background-color: #00ec51;
  padding-top: 20px;
}
.headTop {
  display: flex;
}
.navLink {
  width: 97%;
  display: flex;
  background-color: #00ff1f;
  align-items: center;
  height: 60px;
  font-size: 1.5rem;
}
ul {
  width: 100%;
  display: flex;
  list-style-type: none;
}
nav li {
  text-align: center;
  font-weight: 300;
}
.navLink a {
  text-decoration: none;
  color: black;
}
.headLogo {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 4px black;
  font-size: 2rem;
}
.logo {
  display: block;
  margin-left: 10px;
  transform: translate(190px, -10px);
}

.headerBird img {
  width: 100px;
  height: 100px;
}
main {
  margin-top: 10px;
  display: flex;
  background-color: #00ec51;
}

article {
  margin: 15px;
  background-color: #00ff1f;
}

article > h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3rem;
}

article > p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 10px;
}

aside {
  margin: 15px 15px 15px 0;
  background-color: #00ff1f;
}

.asideTitle {
  text-align: center;
  font-size: 1.8rem;
  padding: 30px;
}
.asideTitle > h2 {
  font-family: "Cinzel", serif;
}

.favouritePhotos {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
img {
  width: 50%;
  height: 50%;
}
.photos1 {
  display: flex;
  width: 100%;
  padding: 2px;
}
.photos2 {
  width: 100%;
  display: flex;
  padding: 2px;
}
footer {
  margin-top: 10px;
  max-width: 1100px;
  height: 90px;
  background-color: #00ec51;
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 20px;
  line-height: 1.5;
}
